# Python For Data Analysis Group 2
Github Repository: https://github.com/educated-fool/entity-resolution-group2

## Module 1: RecordLinkage

In [1]:
# Importing the necessary libraries
import pandas as pd

# Reading the left and right datasets from CSV files
left_df = pd.read_csv('./data/left_dataset.csv')
right_df = pd.read_csv('./data/right_dataset.csv')

In [2]:
from src.module1_recordlinkage import record_linkage_pipeline

In [3]:
record_linkage_pipeline(left_df, right_df, filename='./data/recordlinkage_submission.csv', threshold=0.85)

             left_dataset  right_dataset  confidence_score
7     84020             8          84021              1.00
56    32736            57          32737              1.00
59    39158            60          39159              0.92
      39236            60          39237              0.92
66    77382            67          77383              1.00
...                   ...            ...               ...
94474 165           94475            166              1.00
      2372          94475           2373              1.00
94538 79362         94539          79363              1.00
94545 83309         94546          83310              0.92
94578 80356         94579          80357              1.00

[10036 rows x 3 columns]