In [1]:
#! pip install recordlinkage

In [2]:
# Importing the necessary libraries
import pandas as pd

# Reading the left and right datasets from CSV files
left_df = pd.read_csv('../data/left_dataset.csv')
right_df = pd.read_csv('../data/right_dataset.csv')

In [3]:
print("Missing values in left_df:")
print(left_df.isnull().sum())

print("Missing values in right_df:")
print(right_df.isnull().sum())

Missing values in left_df:
entity_id         0
name              0
address        2798
city              0
state             0
postal_code      37
categories       62
dtype: int64
Missing values in right_df:
business_id    0
name           0
address        0
city           0
state          0
zip_code       0
size           0
dtype: int64

In [4]:
from skimpy import skim
skim(left_df)

╭──────────────────────────────────────────────── skimpy summary ─────────────────────────────────────────────────╮
│          Data Summary                Data Types                                                                 │
│ ┏━━━━━━━━━━━━━━━━━━━┳━━━━━━━━┓ ┏━━━━━━━━━━━━━┳━━━━━━━┓                                                          │
│ ┃ dataframe         ┃ Values ┃ ┃ Column Type ┃ Count ┃                                                          │
│ ┡━━━━━━━━━━━━━━━━━━━╇━━━━━━━━┩ ┡━━━━━━━━━━━━━╇━━━━━━━┩                                                          │
│ │ Number of rows    │ 94585  │ │ string      │ 5     │                                                          │
│ │ Number of columns │ 7      │ │ int64       │ 1     │                                                          │
│ └───────────────────┴────────┘ │ float64     │ 1     │                                                          │
│                                └─────────────┴───────┘                                                          │
│                                                     number                                                      │
│ ┏━━━━━━━━━━━━━━━━┳━━━━━┳━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━┳━━━━━━━━━┳━━━━━━━━┳━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┓  │
│ ┃ column_name    ┃ NA  ┃ NA %   ┃ mean    ┃ sd      ┃ p0     ┃ p25     ┃ p50    ┃ p75    ┃ p100    ┃ hist    ┃  │
│ ┡━━━━━━━━━━━━━━━━╇━━━━━╇━━━━━━━━╇━━━━━━━━━╇━━━━━━━━━╇━━━━━━━━╇━━━━━━━━━╇━━━━━━━━╇━━━━━━━━╇━━━━━━━━━╇━━━━━━━━━┩  │
│ │ entity_id      │   0 │      0 │   47000 │   27000 │      1 │   24000 │  47000 │  71000 │   95000 │ ▇▇▇▇▇▇  │  │
│ │ postal_code    │  37 │   0.04 │   34000 │   14000 │   1900 │   19000 │  34000 │  37000 │  340000 │   ▇▁    │  │
│ └────────────────┴─────┴────────┴─────────┴─────────┴────────┴─────────┴────────┴────────┴─────────┴─────────┘  │
│                                                     string                                                      │
│ ┏━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━┳━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━┓  │
│ ┃ column_name              ┃ NA         ┃ NA %       ┃ words per row               ┃ total words             ┃  │
│ ┡━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━╇━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━┩  │
│ │ name                     │          0 │          0 │                         3.1 │                  290127 │  │
│ │ address                  │       2798 │       2.96 │                         3.8 │                  362194 │  │
│ │ city                     │          0 │          0 │                         1.3 │                  120562 │  │
│ │ state                    │          0 │          0 │                           1 │                   94585 │  │
│ │ categories               │         62 │       0.07 │                         7.8 │                  742060 │  │
│ └──────────────────────────┴────────────┴────────────┴─────────────────────────────┴─────────────────────────┘  │
╰────────────────────────────────────────────────────── End ──────────────────────────────────────────────────────╯

In [5]:
skim(right_df)

╭──────────────────────────────────────────────── skimpy summary ─────────────────────────────────────────────────╮
│          Data Summary                Data Types                                                                 │
│ ┏━━━━━━━━━━━━━━━━━━━┳━━━━━━━━┓ ┏━━━━━━━━━━━━━┳━━━━━━━┓                                                          │
│ ┃ dataframe         ┃ Values ┃ ┃ Column Type ┃ Count ┃                                                          │
│ ┡━━━━━━━━━━━━━━━━━━━╇━━━━━━━━┩ ┡━━━━━━━━━━━━━╇━━━━━━━┩                                                          │
│ │ Number of rows    │ 91791  │ │ string      │ 5     │                                                          │
│ │ Number of columns │ 7      │ │ int64       │ 1     │                                                          │
│ └───────────────────┴────────┘ │ float64     │ 1     │                                                          │
│                                └─────────────┴───────┘                                                          │
│                                                     number                                                      │
│ ┏━━━━━━━━━━━━━━━━━┳━━━━━━┳━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┳━━━━━┳━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━┳━━━━━━━━━┓  │
│ ┃ column_name     ┃ NA   ┃ NA %   ┃ mean    ┃ sd      ┃ p0  ┃ p25     ┃ p50     ┃ p75     ┃ p100   ┃ hist    ┃  │
│ ┡━━━━━━━━━━━━━━━━━╇━━━━━━╇━━━━━━━━╇━━━━━━━━━╇━━━━━━━━━╇━━━━━╇━━━━━━━━━╇━━━━━━━━━╇━━━━━━━━━╇━━━━━━━━╇━━━━━━━━━┩  │
│ │ business_id     │    0 │      0 │   46000 │   26000 │   1 │   23000 │   46000 │   69000 │  92000 │ ▇▇▇▇▇▇  │  │
│ │ size            │    0 │      0 │     7.3 │      11 │   2 │       3 │       5 │       9 │    500 │    ▇    │  │
│ └─────────────────┴──────┴────────┴─────────┴─────────┴─────┴─────────┴─────────┴─────────┴────────┴─────────┘  │
│                                                     string                                                      │
│ ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━┳━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━┓  │
│ ┃ column_name               ┃ NA      ┃ NA %       ┃ words per row                ┃ total words              ┃  │
│ ┡━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━╇━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━┩  │
│ │ name                      │       0 │          0 │                          3.8 │                   351853 │  │
│ │ address                   │       0 │          0 │                          4.1 │                   372729 │  │
│ │ city                      │       0 │          0 │                          1.3 │                   115386 │  │
│ │ state                     │       0 │          0 │                            1 │                    91791 │  │
│ │ zip_code                  │       0 │          0 │                            1 │                    91791 │  │
│ └───────────────────────────┴─────────┴────────────┴──────────────────────────────┴──────────────────────────┘  │
╰────────────────────────────────────────────────────── End ──────────────────────────────────────────────────────╯

In [6]:
import pandas as pd
import recordlinkage
from recordlinkage.preprocessing import clean

In [7]:
left_df['name'] = clean(left_df['name'])
left_df['address'] = clean(left_df['address'])
left_df['city'] = clean(left_df['city'])
left_df['state'] = clean(left_df['state'])
right_df['name'] = clean(right_df['name'])
right_df['address'] = clean(right_df['address'])
right_df['city'] = clean(right_df['city'])
right_df['state'] = clean(right_df['state'])

In [8]:
# Handle postal codes as strings directly, stripping any non-numeric parts and padding if necessary
left_df['postal_code'] = left_df['postal_code'].astype(str).apply(lambda x: x.split('.')[0])

# First, ensure the zip_code column is treated as a string
right_df['zip_code'] = right_df['zip_code'].astype(str)

# Process zip_code to keep only the first part before the hyphen and ensure it's 5 digits
right_df['zip_code'] = right_df['zip_code'].apply(lambda x: x.split('-')[0].zfill(5))

left_df.fillna('unknown', inplace=True)

# Rename columns in right_df to match those in left_df
right_df.rename(columns={
    'zip_code': 'postal_code'  
}, inplace=True)

In [9]:
left_df.head()

,entity_id,name,address,city,state,postal_code,categories
0,1,the ups store,87 grasso plaza shopping center,affton,mo,63123,"Shipping Centers, Local Services, Notaries, Ma..."
1,2,st honore pastries,935 race st,philadelphia,pa,19107,"Restaurants, Food, Bubble Tea, Coffee & Tea, B..."
2,3,perkiomen valley brewery,101 walnut st,green lane,pa,18054,"Brewpubs, Breweries, Food"
3,4,sonic drive in,615 s main st,ashland city,tn,37015,"Burgers, Fast Food, Sandwiches, Food, Ice Crea..."
4,5,famous footwear,8522 eager road dierbergs brentwood point,brentwood,mo,63144,"Sporting Goods, Fashion, Shoe Stores, Shopping..."

In [10]:
right_df.head()

,business_id,name,address,city,state,postal_code,size
0,1,sourini painting inc,12800 44th st n,clearwater,fl,33762,11.0
1,2,wolff dolla bill llc,1905 e 19th ave,tampa,fl,33605,8.0
2,3,comprehensive surgery center llc,1988 gulf to bay blvd ste 1,clearwater,fl,33765,8.0
3,4,frank adam apparel llc,13640 wright cir,tampa,fl,33626,12.0
4,5,moreno plus transport inc,8608 huron court unite 58,tampa,fl,33614,8.0

In [11]:
# Import the recordlinkage module
import recordlinkage

# Create a new column for the block key
left_df['block_key'] = left_df['address'].str[0] + left_df['name'].str[0] + left_df['state'] + left_df['postal_code'].str[:3]
right_df['block_key'] = right_df['address'].str[0] + right_df['name'].str[0] + right_df['state'] + right_df['postal_code'].str[:3]

# Create an indexer object
indexer = recordlinkage.Index()

# Add a blocking condition on the new column
indexer.block('block_key')

# Compute the candidate links
candidate_links = indexer.index(left_df, right_df)

In [12]:
# Import the Compare class from the recordlinkage module
from recordlinkage import Compare

# Create a compare object
compare_cl = Compare()

# Define the columns to compare and the method to use
compare_cl.string('name', 'name', method='jarowinkler', threshold=0.85)
compare_cl.string('address', 'address', method='jarowinkler', threshold=0.85)
compare_cl.string('city', 'city', method='jarowinkler', threshold=0.85)
compare_cl.string('state', 'state', method='jarowinkler', threshold=0.85)
compare_cl.string('postal_code', 'postal_code', method='jarowinkler', threshold=0.85)

# Compute the comparison vectors
features = compare_cl.compute(candidate_links, left_df, right_df)

In [13]:
features.head()

           0    1    2    3    4
0 36645  0.0  0.0  0.0  1.0  0.0
  37026  0.0  0.0  0.0  1.0  0.0
  37155  0.0  0.0  0.0  1.0  0.0
  37158  0.0  0.0  0.0  1.0  0.0
  37161  0.0  0.0  0.0  1.0  0.0

In [14]:
len(features)

6845983

In [15]:
# Define the weights for each column
weights = [1, 1, 0.2, 0.2, 0.2]

# Compute the weighted average of the comparison vectors
scores = features.dot(weights) / sum(weights)

In [16]:
# Create a DataFrame for the matches and their scores
matches_df = pd.DataFrame({'left_index': features.index.get_level_values(0), 'right_index': features.index.get_level_values(1), 'score': scores})

# Filter the matches with a score of 0.8 or higher
high_confidence_matches = matches_df[matches_df['score'] >= 0.8]

# Merge the high-confidence matched records
result = pd.merge(high_confidence_matches, left_df, left_on='left_index', right_index=True)
result = pd.merge(result, right_df, left_on='right_index', right_index=True, suffixes=('_left', '_right'))

In [17]:
result.head()

          left_index  right_index     score  entity_id       name_left  \
7  84020           7        84020  1.000000          8  sonic drive in
56 32736          56        32736  1.000000         57      james dant
59 39158          59        39158  0.923077         60         tko djs
   39236          59        39236  0.923077         60         tko djs
66 77382          66        77382  1.000000         67   its sold here

                  address_left     city_left state_left postal_code_left  \
7  84020   2312 dickerson pike     nashville         tn            37207
56 32736  5624 e washington st  indianapolis         in            46219
59 39158       2650 s big bend     maplewood         mo            63143
   39236       2650 s big bend     maplewood         mo            63143
66 77382            94 york rd  willow grove         pa            19090

                                                 categories block_key_left  \
7  84020  Ice Cream & Frozen Yogurt, Fast Food, Burgers,...        2stn372
56 32736                  Fashion, Shopping, Men's Clothing        5jin462
59 39158  Karaoke, DJs, Event Planning & Services, Party...        2tmo631
   39236  Karaoke, DJs, Event Planning & Services, Party...        2tmo631
66 77382              Shopping, Auction Houses, Active Life        9ipa190

          business_id                                   name_right  \
7  84020        84021  sonic drive in nashville dickerson road llc
56 32736        32737                               james dant llc
59 39158        39159                                  tko djs inc
   39236        39237                                  tko djs inc
66 77382        77383                                its sold here

                 address_right    city_right state_right postal_code_right  \
7  84020   2312 dickerson road     nashville          tn             37207
56 32736  5624 e washington st  indianapolis          in             46219
59 39158  2650 s big bend blvd      st louis          mo             63143
   39236  2650 s big bend blvd   saint louis          mo             63143
66 77382          94 york road  willow grove          pa             19090

          size block_key_right
7  84020  21.0         2stn372
56 32736   6.0         5jin462
59 39158  25.0         2tmo631
   39236   7.0         2tmo631
66 77382   3.0         9ipa190

In [18]:
len(result)

10036

In [19]:
lowest_scores = result.nsmallest(5, 'score')
lowest_scores

,,left_index,right_index,score,entity_id,name_left,address_left,city_left,state_left,postal_code_left,categories,block_key_left,business_id,name_right,address_right,city_right,state_right,postal_code_right,size,block_key_right
11434,20653,11434,20653,0.846154,11435,wesley chapel dentistry,28965 wesley chapel blvd,wesley chapel,fl,33543,"Health & Medical, Hair Salons, Cosmetic Dentis...",2wfl335,20654,wesley chapel self storage lc,26504 wesley chapel blvd,lutz,fl,33559,3.0,2wfl335
12938,39199,12938,39199,0.846154,12939,the rock spa,9430 manchester rd,st louis,mo,63119,"Skin Care, Health & Medical, Medical Spas, Wax...",9tmo631,39200,the rock church of saint louis,9125 manchester rd,saint louis,mo,63144,15.0,9tmo631
16313,13771,16313,13771,0.846154,16314,the patio,421 s macdill ave,southwest tampa,fl,33609,"Wine Bars, Bars, Nightlife, American (New), Re...",4tfl336,13772,the potting shed,4127 s macdill ave,tampa,fl,33611,4.0,4tfl336
18840,752,18840,752,0.846154,18841,fat cat tavern,3665 east bay dr ste 100,largo,fl,33771,"Sports Bars, Seafood, American (New), American...",3ffl337,753,fat cat tavern inc,3665 east bay drive 100,clearwater,fl,33764,9.0,3ffl337
19030,14404,19030,14404,0.846154,19031,amoroso cabinets,708 lithia pinecrest rd,valrico,fl,33594,"Cabinetry, Contractors, Home Services",7afl335,14405,amoroso cabinetry inc,708 lithia pinecrest rd,brandon,fl,33511,4.0,7afl335

In [20]:
score_counts = result['score'].value_counts()
print(score_counts)

score
1.000000    9388
0.923077     625
0.846154      23
Name: count, dtype: int64

In [21]:
recordlinkage_submission = result[['entity_id', 'business_id', 'score']].copy()
recordlinkage_submission.columns = ['left_dataset', 'right_dataset', 'confidence_score']
recordlinkage_submission['confidence_score'] = recordlinkage_submission['confidence_score'].round(2)
recordlinkage_submission

             left_dataset  right_dataset  confidence_score
7     84020             8          84021              1.00
56    32736            57          32737              1.00
59    39158            60          39159              0.92
      39236            60          39237              0.92
66    77382            67          77383              1.00
...                   ...            ...               ...
94474 165           94475            166              1.00
      2372          94475           2373              1.00
94538 79362         94539          79363              1.00
94545 83309         94546          83310              0.92
94578 80356         94579          80357              1.00

[10036 rows x 3 columns]

In [22]:
recordlinkage_submission.to_csv('../data/recordlinkage_submission.csv', index=False)

In [23]:
import pandas as pd
import recordlinkage
from recordlinkage.preprocessing import clean
from recordlinkage import Compare

def record_linkage_pipeline(left_df, right_df, filename, threshold=0.85):
    # Preprocess dataframes
    left_df['name'] = clean(left_df['name'])
    left_df['address'] = clean(left_df['address'])
    left_df['city'] = clean(left_df['city'])
    left_df['state'] = clean(left_df['state'])
    right_df['name'] = clean(right_df['name'])
    right_df['address'] = clean(right_df['address'])
    right_df['city'] = clean(right_df['city'])
    right_df['state'] = clean(right_df['state'])

    left_df['postal_code'] = left_df['postal_code'].astype(str).apply(lambda x: x.split('.')[0])
    right_df['zip_code'] = right_df['zip_code'].astype(str)
    right_df['zip_code'] = right_df['zip_code'].apply(lambda x: x.split('-')[0].zfill(5))
    left_df.fillna('unknown', inplace=True)
    right_df.rename(columns={'zip_code': 'postal_code'}, inplace=True)

    # Compute candidate links
    left_df['block_key'] = left_df['address'].str[0] + left_df['name'].str[0] + left_df['state'] + left_df['postal_code'].str[:3]
    right_df['block_key'] = right_df['address'].str[0] + right_df['name'].str[0] + right_df['state'] + right_df['postal_code'].str[:3]
    indexer = recordlinkage.Index()
    indexer.block('block_key')
    candidate_links = indexer.index(left_df, right_df)

    # Compute comparison vectors
    compare_cl = Compare()
    columns_to_compare = ['name', 'address', 'city', 'state', 'postal_code']
    for column in columns_to_compare:
        compare_cl.string(column, column, method='jarowinkler', threshold=threshold)
    features = compare_cl.compute(candidate_links, left_df, right_df)

    # Compute scores and export csv
    weights = [1, 1, 0.2, 0.2, 0.2]
    scores = features.dot(weights) / sum(weights)
    matches_df = pd.DataFrame({'left_index': features.index.get_level_values(0), 'right_index': features.index.get_level_values(1), 'score': scores})
    high_confidence_matches = matches_df[matches_df['score'] >= 0.8]
    result = pd.merge(high_confidence_matches, left_df, left_on='left_index', right_index=True)
    result = pd.merge(result, right_df, left_on='right_index', right_index=True, suffixes=('_left', '_right'))
    recordlinkage_submission = result[['entity_id', 'business_id', 'score']].copy()
    recordlinkage_submission.columns = ['left_dataset', 'right_dataset', 'confidence_score']
    recordlinkage_submission['confidence_score'] = recordlinkage_submission['confidence_score'].round(2)
    recordlinkage_submission.to_csv(filename, index=False)

    return recordlinkage_submission