In [1]:
pip install pandas splink

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (2.2.1)
Requirement already satisfied: splink in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (3.9.14)
Requirement already satisfied: numpy<2,>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/sixuanli/Library/Python/3.12/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: Jinja2>=3.0.3 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from splink) (3.1.3)
Requirement already satisfied: altair>=5.0.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from splink) (5.3.0)
Requirement already satisfied: duckdb>=0.8.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from splink) (0.10.2)
Requirement already satisfied: igraph>=0.11.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from splink) (0.11.4)
Requirement already satisfied: jsonschema>=3.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from splink) (4.21.1)
Requirement already satisfied: phonetics>=1.0.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from splink) (1.0.5)
Requirement already satisfied: sqlglot>=13.0.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from splink) (23.11.2)
Requirement already satisfied: packaging in /Users/sixuanli/Library/Python/3.12/lib/python/site-packages (from altair>=5.0.1->splink) (23.2)
Requirement already satisfied: toolz in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from altair>=5.0.1->splink) (0.12.1)
Requirement already satisfied: texttable>=1.6.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from igraph>=0.11.2->splink) (1.7.0)
Requirement already satisfied: MarkupSafe>=2.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from Jinja2>=3.0.3->splink) (2.1.5)
Requirement already satisfied: attrs>=22.2.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jsonschema>=3.2->splink) (23.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jsonschema>=3.2->splink) (2023.12.1)
Requirement already satisfied: referencing>=0.28.4 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jsonschema>=3.2->splink) (0.33.0)
Requirement already satisfied: rpds-py>=0.7.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from jsonschema>=3.2->splink) (0.17.1)
Requirement already satisfied: six>=1.5 in /Users/sixuanli/Library/Python/3.12/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
from splink.duckdb.linker import DuckDBLinker
import splink.duckdb.comparison_library as cl
import splink.duckdb.comparison_template_library as ctl
from splink.duckdb.blocking_rule_library import block_on
from splink.datasets import splink_datasets

In [3]:
df_left = pd.read_csv('/Users/rileyxiong/Downloads/group-project-spring-2024 (1)/Data/GroupProject/entity-resolution/left_dataset.csv')
df_right = pd.read_csv('/Users/rileyxiong/Downloads/group-project-spring-2024/Data/GroupProject/entity-resolution/right_dataset.csv')
print(df_left)
print(df_right)

       entity_id                              name  \
0              1                     The UPS Store
1              2                St Honore Pastries
2              3          Perkiomen Valley Brewery
3              4                    Sonic Drive-In
4              5                   Famous Footwear
...          ...                               ...
94580      94581     Adelita Taqueria & Restaurant
94581      94582  INSPcenter/Thai Clinical Massage
94582      94583              Wild Birds Unlimited
94583      94584                 Claire's Boutique
94584      94585                           Sic Ink

                                          address          city state  \
0                 87 Grasso Plaza Shopping Center        Affton    MO
1                                     935 Race St  Philadelphia    PA
2                                   101 Walnut St    Green Lane    PA
3                                   615 S Main St  Ashland City    TN
4      8522 Eager Road, Dierbergs Brentwood Point     Brentwood    MO
...                                           ...           ...   ...
94580                               1108 S 9th St  Philadelphia    PA
94581                 2625 N Meridian St, Unit 50  Indianapolis    IN
94582                          2813 Bransford Ave     Nashville    TN
94583                      6020 E 82nd St, Ste 46  Indianapolis    IN
94584                       238 Apollo Beach Blvd  Apollo beach    FL

       postal_code
0          63123.0
1          19107.0
2          18054.0
3          37015.0
4          63144.0
...            ...
94580      19147.0
94581      46208.0
94582      37204.0
94583      46250.0
94584      33572.0

[94585 rows x 6 columns]
       business_id                                  name  \
0                1                 SOURINI PAINTING INC.
1                2                  WOLFF DOLLA BILL LLC
2                3     COMPREHENSIVE SURGERY CENTER, LLC
3                4              FRANK & ADAM APPAREL LLC
4                5             MORENO PLUS TRANSPORT INC
...            ...                                   ...
91786        91787                     DEH TRANSPORT LLC
91787        91788                           TM INC. LLC
91788        91789  PASSION TRANSPORTATION SERVICES, LLC
91789        91790     ROSIE CLEANING SERVICE/COMMERCIAL
91790        91791                     THE AQUADUCKS LLC

                            address        city state    zip_code  size
0                   12800 44th St N  Clearwater    FL  33762-4726  11.0
1                   1905 E 19th Ave       Tampa    FL  33605-2700   8.0
2      1988 GULF TO BAY BLVD, Ste 1  CLEARWATER    FL  33765-3550   8.0
3                  13640 Wright Cir       Tampa    FL  33626-3030  12.0
4         8608 Huron Court unite 58       Tampa    FL       33614   8.0
...                             ...         ...   ...         ...   ...
91786               737 E Statue Ct    Franklin    TN  37067-5637   2.0
91787              4911 Georgia Ave   Nashville    TN  37209-2135   4.0
91788                 2005 QUAIL DR   NASHVILLE    TN       37207   2.0
91789                  705 N 9TH ST   NASHVILLE    TN  37206-3907   5.0
91790                128 Gordon Ter   Nashville    TN  37207-4534   4.0

[91791 rows x 7 columns]

In [4]:
# Rename 'zip_code' column in df_right to 'postal_code' for standardization

df_right.rename(columns={
    'zip_code': 'postal_code'  # Standardize more columns
}, inplace=True)

In [ ]:
# Display the first 5 rows of each dataset to verify changes

In [5]:
df_right.head(5)

,business_id,name,address,city,state,postal_code,size
0,1,SOURINI PAINTING INC.,12800 44th St N,Clearwater,FL,33762-4726,11.0
1,2,WOLFF DOLLA BILL LLC,1905 E 19th Ave,Tampa,FL,33605-2700,8.0
2,3,"COMPREHENSIVE SURGERY CENTER, LLC","1988 GULF TO BAY BLVD, Ste 1",CLEARWATER,FL,33765-3550,8.0
3,4,FRANK & ADAM APPAREL LLC,13640 Wright Cir,Tampa,FL,33626-3030,12.0
4,5,MORENO PLUS TRANSPORT INC,8608 Huron Court unite 58,Tampa,FL,33614,8.0

In [6]:
df_left.head(5)

,entity_id,name,address,city,state,postal_code
0,1,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123.0
1,2,St Honore Pastries,935 Race St,Philadelphia,PA,19107.0
2,3,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054.0
3,4,Sonic Drive-In,615 S Main St,Ashland City,TN,37015.0
4,5,Famous Footwear,"8522 Eager Road, Dierbergs Brentwood Point",Brentwood,MO,63144.0

In [7]:
# Define a function to preprocess data for consistency and clean text fields

import re

def preprocess_data(df):
    # Convert postal codes and states to strings, ensuring no type discrepancies
    df['postal_code'] = df['postal_code'].apply(lambda x: str(int(float(x))) if ('.' in str(x)) else str(x))
    df['state'] = df['state'].astype(str).str.strip()
    df['name'] = df['name'].astype(str).str.lower().str.strip().apply(lambda x: re.sub(r'[^\w\s]', '', x))
    df['address'] = df['address'].astype(str).str.lower().str.strip().apply(lambda x: re.sub(r'[^\w\s]', '', x))
    df['city'] = df['city'].astype(str).str.lower().str.strip().apply(lambda x: re.sub(r'[^\w\s]', '', x))
    return df

# Apply the preprocessing function to both dataframes

df_left = preprocess_data(df_left)
df_right = preprocess_data(df_right)

In [8]:
# Update column names to unify id columns across datasets

df_left.rename(columns={'entity_id': 'unique_id'}, inplace=True)
df_right.rename(columns={'business_id': 'unique_id'}, inplace=True)

In [ ]:
# Standardize postal code format by removing any suffix after '-'

df_right['postal_code'] = df_right['postal_code'].str.split('-').str[0]
df_right = df_right.drop('size', axis=1)

In [9]:
df_right.head(5)

,unique_id,name,address,city,state,postal_code
0,1,sourini painting inc,12800 44th st n,clearwater,FL,33762
1,2,wolff dolla bill llc,1905 e 19th ave,tampa,FL,33605
2,3,comprehensive surgery center llc,1988 gulf to bay blvd ste 1,clearwater,FL,33765
3,4,frank adam apparel llc,13640 wright cir,tampa,FL,33626
4,5,moreno plus transport inc,8608 huron court unite 58,tampa,FL,33614

In [45]:
df_left.head(5)

,unique_id,name,address,city,state,postal_code
0,1,the ups store,87 grasso plaza shopping center,affton,MO,63123
1,2,st honore pastries,935 race st,philadelphia,PA,19107
2,3,perkiomen valley brewery,101 walnut st,green lane,PA,18054
3,4,sonic drivein,615 s main st,ashland city,TN,37015
4,5,famous footwear,8522 eager road dierbergs brentwood point,brentwood,MO,63144

In [10]:
print("Missing values in left_df:")
print(df_left.isnull().sum())

print("Missing values in right_df:")
print(df_right.isnull().sum())

Missing values in left_df:
unique_id      0
name           0
address        0
city           0
state          0
postal_code    0
dtype: int64
Missing values in right_df:
unique_id      0
name           0
address        0
city           0
state          0
postal_code    0
dtype: int64

In [11]:
from splink.duckdb.linker import DuckDBLinker
from splink.duckdb.blocking_rule_library import block_on
import splink.duckdb.comparison_library as cl
import splink.duckdb.comparison_template_library as ctl

# Define settings for data linking using Splink

settings = {
    "link_type": "link_only",
    "blocking_rules_to_generate_predictions": [
        block_on("state"),
        block_on("postal_code"),
        block_on("city"),
        block_on(["substr(address, 1, 1)", "substr(name, 1, 1)", "substr(postal_code, 1, 3)"])
    ],
    "comparisons": [
        ctl.name_comparison("name"),
        ctl.name_comparison("address",
                            term_frequency_adjustments=True,
                            levenshtein_thresholds=[2],  
                            damerau_levenshtein_thresholds=[],
                            jaro_winkler_thresholds=[0.9, 0.8],  
                            jaccard_thresholds=[0.75]  
                            ),
    ],
}

# Initialize a DuckDBLinker object with defined settings

linker = DuckDBLinker([df_left, df_right], settings, input_table_aliases=["df_left", "df_right"])

In [12]:
# Display completeness chart for selected columns

linker.completeness_chart(cols=["name", "address", "postal_code"])

alt.LayerChart(...)

In [13]:
# Define deterministic rules for matching

deterministic_rules = [
    "l.name = r.name and levenshtein(r.postal_code, l.postal_code) <= 1",
    "l.address = r.address and levenshtein(r.postal_code, l.postal_code) <= 1",
    "l.name = r.name and levenshtein(r.address, l.address) <= 2"
]

# Re-estimate the probability of two random records matching
linker.estimate_probability_two_random_records_match(deterministic_rules, recall=0.7)

Probability two random records match is estimated to be  4.22e-06.
This means that amongst all possible pairwise record comparisons, one in 236,946.32 are expected to match.  With 8,682,051,735 total possible comparisons, we expect a total of around 36,641.43 matching pairs

In [14]:
linker.estimate_u_using_random_sampling(max_pairs=1e7, seed=1)

----- Estimating u probabilities using random sampling -----

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

Estimated u probabilities using random sampling

Your model is not yet fully trained. Missing estimates for:
    - name (no m values are trained).
    - address (no m values are trained).

In [15]:
session_name = linker.estimate_parameters_using_expectation_maximisation(block_on("name"))
session_address = linker.estimate_parameters_using_expectation_maximisation(block_on("address"))

----- Starting EM training session -----

Estimating the m probabilities of the model by blocking on:
l."name" = r."name"

Parameter estimates will be made for the following comparison(s):
    - address

Parameter estimates cannot be made for the following comparison(s) since they are used in the blocking rules:
    - name

Iteration 1: Largest change in params was -0.509 in the m_probability of address, level `Exact match address`
Iteration 2: Largest change in params was -0.000364 in the m_probability of address, level `Jaro_winkler_similarity >= 0.8`
Iteration 3: Largest change in params was -7.05e-06 in the m_probability of address, level `Jaccard >= 0.75`

EM converged after 3 iterations

Your model is not yet fully trained. Missing estimates for:
    - name (no m values are trained).

----- Starting EM training session -----

Estimating the m probabilities of the model by blocking on:
l."address" = r."address"

Parameter estimates will be made for the following comparison(s):
    - name

Parameter estimates cannot be made for the following comparison(s) since they are used in the blocking rules:
    - address

Iteration 1: Largest change in params was -0.853 in the m_probability of name, level `Exact match name`
Iteration 2: Largest change in params was 0.00497 in the m_probability of name, level `Jaro_winkler_similarity >= 0.8`
Iteration 3: Largest change in params was 1.58e-05 in the m_probability of name, level `Jaro_winkler_similarity >= 0.8`

EM converged after 3 iterations

Your model is fully trained. All comparisons have at least one estimate for their m and u values

In [ ]:
results = linker.predict(threshold_match_probability=0.10)